doctype html
html
    head
        meta(charset="utf-8")
        title Summer
        link(rel="shortcut icon", type="image/png", href="/logo.png")
        link(rel="shortcut icon", type="image/png", href="http://localhost:8888/favicon.png")
        != styles
    body
        #app!=content
